nav {
    background: linear-gradient(45deg, #8b0000, #b22222, #5a0000);
    align-items: center;
    padding: .5rem 0;
    display: flex;
    justify-content: space-around;
    box-shadow: 4px 4px 8px #00000070;
    border-bottom: 2px solid #3d0000;
}

nav > svg {
    height: 3rem;
    width: auto;
}

.logo {
    width: 30px; 
    height: auto; 
    
}

.back-text {
    margin-right: 10px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center; 
}